.adminPanel {
  /* border: 1px solid blue; */
  border-radius: 10px;
  /* box-shadow: 0 2px 4px 0 rgb(0 0 0 / 13%); */
  /* background-color: crimson; */
  /* height: 100%; */
  /* max-height: 80vh; */
  width: "100%";
  min-height: 70vh;
  display: flex;
  flex-grow: 1;
}

.leftColMenu {
  /* border: 1px solid black; */
  display: flex;
  /* min-height: 70vh;*/
  /* max-height: 80vh;  */
  flex-direction: column;
  /* overflow-y: auto; */
}
.menuItemContainer {
  /* min-height: 10%;
  max-height: 10%; */
  /* display: flex; */
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  /* border: 1px solid crimson; */
  /* padding: 10px; */
  /* margin: 0.3rem; */
  display: flex;
  /* border: 1px solid black; */
  width: 100%;
}

.loading-div {
  width: 100%;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 15%;
}

.comment-list-item {
  width: 100%;
  max-width: "40rem";
  background-color: gray;
}

.selected {
  display: block;
  background-color: #007bff;
  color: white;
}
