.ItemsComponent {
  /* border-color: black; */
  display: flex;
}

.Itemstable {
  /* border-width: 2px;
  border: 2px sold black; */
  flex: 1;
}

.Categoriestable {
  flex: 0.3;
  margin: 10px;
  height: auto;
  width: auto;
}

.Categorylist .row {
  background-color: #dcdcdc;
  width: 100%;
  height: auto;
  border: 1px solid black;
  list-style-type: none;
  margin: 0%;
  margin-right: 3%;
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.Categorylist .row:hover {
  cursor: pointer;
  background-color: goldenrod;
}

.Categorylist .row #active {
  background-color: goldenrod;
}

.Categorylist .row #button {
  border: none;
  background-color: transparent;
}

.Categorylist .row #button:active {
  border: none;
  background-color: transparent;
}

.Itemstable th {
  border: 2px sold black;
}

.Itemstable td {
  border: 2px sold black;
}
