.VSCodeCounter
Temp_DBS

admin-panel/node_modules
admin-panel/utils
admin-panel/.env
admin-panel/ssh

Design

backend/assets
backend/vendor
backend/.env
backend/config/*.json
backend/tests
backend/ssh
