.headerContainer {
  padding-left: 0;
  padding-right: 0;
  padding: 0;
  flex-wrap: nowrap;
  /* width: 100%; */
}
/* .headerLogo {
  background-color: aqua;
  justify-content: center;
  text-align: center;
} */

.searchBar {
  /* background-color: beige; */
  align-items: center;
  padding: 0.5rem;
  margin-top: 3px;
  text-align: center;
  justify-content: center;
  width: 100%;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.searchBar .icon {
  text-align: center;
  flex: 0.3;
}

.searchBar .input {
  flex: 1;
}

.searchBar .input .inputForm .searchBarText {
  width: 100%;
  border: none;
  border-radius: 35px;
}

.searchBar .input .inputForm .searchBarText:focus {
  outline: none;
}

.headerMenu {
  background-color: brown;
  text-align: center;
  justify-content: center;
}
