/* #logregModal {
  width: 75%;
} */

.headerTitle {
  /* background-color: antiquewhite; */
  text-align: center;
  justify-content: center;
  align-items: center;
}

.closeButtonCol {
  text-align: right;
}

.loginButtons {
  text-align: center;
  align-content: center;
  align-items: center;
  flex: 1;
}

.loginButtons button {
  text-align: center;
  width: 100%;
  margin-top: 1%;
}

.gmailLogo {
  width: 30px;
}

.facebookLogo {
  width: 30px;
}
/* .loginExtraButtons button:hover {
  background-color: transparent;
  color: #6c757d;
} */

#modalFooter {
  text-align: center;
  align-items: center;
  justify-content: center;
}
