.headerRow {
  width: 100%;
  /* background-color: aqua; */
  display: block;
}

.nav-text {
  /* padding: 3px; */
  margin: 5px;
  padding: 3px;
  background-color: White;
  border: solid 1px black;
  border-radius: 45px;
  color: black;
}

.user-nav-bar {
  background-color: transparent;
}

.nav-text:hover {
  color: white;
  background-color: gray;
  font-style: none;
  text-decoration: none;
}

.nav-text-activated {
  color: white;
  background-color: gray;
  font-style: none;
  text-decoration: none;
}

.bodyRow {
  min-height: 50vh;
}
.bodyCol {
  min-height: 50vh;
}
.accountUserProfilePageContainer {
  width: 25%;
  background-color: blanchedalmond;
}

.userOrdersCol {
  display: flex;
  flex-flow: column;
}

.userOrdersColHeader {
  display: block;
  border-bottom: 1px solid black;
  /* background-color: brown; */
}

.userOrdersColHeader .title {
  text-align: left;
  padding: 1.3rem;
  font-size: 1.5rem;
}

.userAddressColBody {
  margin: 1%;
  background-color: white;
}

.userOrdersColBody {
  background-color: white;
}

.roundedContainer {
  border-radius: 10px;
  width: 100%;
  display: block;
  padding: 1.4rem;
  flex-direction: column;
  /* background-color: rgb(119, 119, 119); */
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 13%);
}

.orderRow {
  align-items: center;
  border-radius: 10px;
  margin: 1%;
  border: 1px solid black;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 13%);
}

.listItemTitle {
  font-size: 1.1rem;
}

.listItemSubTitle {
  font-size: 0.9rem;
  color: gray;
}

.addAddressDiv {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;

  /* -ms-flex-align: center; */
  width: 100%;
}

.addAddressButton {
  background-color: transparent;
  color: black;
  width: 5%;
  border-radius: 25px;
}

.addAddressButton:focus {
  /* background-color: transparent;
  color: black;
  width: 5%;
  border-radius: 25px; */
  outline-style: none;
}

#addAddressIcon {
  width: 100%;
}

.commentModalHeader {
  flex-direction: row-reverse;
}

.commentModalBodyDiv {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.centered {
  justify-content: center;
  text-align: center;
  margin: 5px;
}

.accountMainPage {
  height: auto;
  min-height: 70%;
  display: flex;
}
