.CreatePage {
  display: flex;
}

.CreateForm {
  flex: 1;
}

.CreateOptions {
  flex: 0.3;
  height: auto;
}

.Optionlist {
  flex: 0.3;
  margin: 10px;
  height: auto;
  width: auto;
}

.modal-div {
  border: 1px solid white;
  margin-top: 20%;
  height: 40%;
  width: 20%;
  min-width: 200px;
  background-color: white;
}

.modal-container {
  justify-content: center;
}

.Optionlist .row {
  background-color: #dcdcdc;
  width: 100%;
  height: auto;
  border: 1px solid black;
  list-style-type: none;
  margin: 0%;
  margin-right: 3%;
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.Optionlist .row:hover {
  cursor: pointer;
  background-color: goldenrod;
}

.Optionlist .row #active {
  background-color: goldenrod;
}
