.modal {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Overlay effect: translucent background: black w/ partial opacity */
  z-index: 1; /* Overlay effect: positioned over other containers */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed; /* Fix position on the top-left corner*/
  top: 0;
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  padding-top: 20px; /* Location of the content container */
}

/* Modal content */
.modal-content {
  background-color: white;
  width: 85%; /* Width in proportion to its parent container*/
  max-width: 800px; /* Max width where it stops expanding */
  height: 85%; /* Height in proportion to its parent container */
  margin: auto; /* Auto margin according to the element width */
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px; /* Optional. Rounds container corners */
}
.address-modal-content {
  width: 50% !important;
}
/* Close button */
.close {
  color: #aaaaaa;
  float: right; /* Positioned to the right of the parent container whichever size it is */
  font-size: 25px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content-header {
  width: 100%;
  height: 20%;
  text-align: center;
  border-bottom: 1px solid black;
  /* display: flex; */
  /* justify-content: center; */
  /* background-color: blueviolet; */
}

.modal-content-body {
  width: 100%;
  height: 80%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.modal-content-body-col {
  flex: 1;
}

.left-col {
  /* background-color: black; */
}

.right-col {
  /* background-color: beige; */
}

.autocomplete-div {
  width: 70%;
}

.location-search-input {
  width: 100%;
}

.modal-content-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 20%;
  border-top: 1px solid black;
  /* background-color: aquamarine; */
}
.modal-content-header-title {
  text-align: center;
  font-size: 1.7rem;
}

.modal-content-footer-button {
  height: 70%;
  margin-top: 1%;
}

.alertModalHeader {
  flex-flow: row-reverse;
}

.alertModalMessage {
  font-size: 1.4rem;
  font-weight: 500;
}
