/* #logregModal {
  width: 75%;
} */

.headerTitle {
  /* background-color: antiquewhite; */
  text-align: center;
  justify-content: center;
  align-items: center;
}

.closeButtonCol {
  text-align: right;
}

.loginButtons {
  text-align: center;
  align-content: center;
  align-items: center;
  flex: 1;
}

.loginButtons button {
  text-align: center;
  width: 100%;
  margin-top: 1%;
}

.gmailLogo {
  width: 30px;
}

.facebookLogo {
  width: 30px;
}
/* .loginExtraButtons button:hover {
  background-color: transparent;
  color: #6c757d;
} */

#modalFooter {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.log-reg-modal {
  text-align: center;
  margin-top: 5%;
  height: 100%;
  min-height: 60%;
  margin-right: 20%;
  margin-left: 20%;
  overflow-y: auto;
}

.modalHeader {
  margin-left: 5;
  margin-right: 5;
}

.inner-paper {
  height: auto;
  max-height: 70%;
  overflow-y: scroll;
  width: 45%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
