.App {
  /* width: 100vw; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-flow: flex-start;
  justify-content: flex-start;
  flex: 1 0 auto;
  height: auto;
  min-height: 100%;
  width: 100%;
  /* align-items: center; */
  /* background-color: #f2f; */
}

body {
  margin: 0;
  padding: 0;
}

.Panel {
  flex: 1 0 auto;
  height: auto;
  min-height: 100%;
  width: 100%;
}

.footer {
  flex-shrink: 0;
  bottom: 0;
  position: absolute;
}
